* {
    margin: 0px;
    font-family: 'Inter';
}
.container {
    display: flex;
}
.izquierda, .derecha {
    width: 50%;
    height: 100vh;
}
.derecha {
    display: flex;
    justify-content: center;
    align-items: center;
}
.derecha > img {
    height: 90vh;
    max-width: 95%;
}
.izquierda > h1 {
    position: absolute;
    top: 34px;
    left: 40px;
    font-weight: 700;
    color: #808194;
}
.izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 30px #5454541A;
    padding: 48px 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
form > h2 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
}
.btn-google {
    border-radius: 8px;
    padding: 10px 0px;
    background-color: transparent;
    border: 1px solid #E0E0E5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.linea {
    text-align: center;
    position: relative;
    z-index: 1;
}
.linea::before {
    content: "";
    border-top: 1px solid #000000;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    z-index: -1;
}
.linea > span {
    background-color: white;
    padding: 0px 8px;
    color: #2A2B2E;
    font-size: 14px;
    font-weight: 500;
}
.form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-control > label {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #808194;
}
.form-control > div {
    position: relative;
}
.form-control > div > input {
    padding: 8px 28px 8px 8px;
    align-items: center;
    border-radius: 8px;
    border: 0.5px solid #808194;
    box-shadow: 0px 4px 4px 0px #00000033;
    outline: none;
    width: -webkit-fill-available;
}
.form-control > div > i {
    position: absolute;
    right: 8px;
    transform: translate(0px, 50% );
    bottom: 50%;
}
.seccion-baja {
    display: flex;
    gap: 105px;
}
.seccion-baja > div > label {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    color: #2A2B2C;
}
.seccion-baja > div {
    display: flex;
    align-items: center;
    gap: 8px;
} 
.seccion-baja > a {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.96px;
    color: #2A2B2E;
    /* border-bottom: 2px solid #4F90F0; */
    text-decoration: underline #4F90F0;
    text-decoration-thickness: 2px;
}
form > button[type="button"] {
    padding: 13.5px;
    border: none;
    background-color: #4F90F0;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2A2B2E;
    font-family: "Inter";
}
p > a {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline #4F90F0;
    text-decoration-thickness: 2px;
}

@media (max-width: 425px) {
    .container {
        flex-direction: column-reverse;
    }
    img[src="img/img_web.png"]{
        display: none;
    }
    .derecha {
        position: relative;
    }
    .izquierda, .derecha {
        width: 100%;
        height: auto;
    }
    .derecha > img {
        height: auto;
        width: 100%;
        max-width: 100%;
        border-radius: 0px 0px 11px 11px;
    }
    .izquierda{
        position: relative;
        margin-top: 50px;
    }
    h1 {
        display: none;
    }
    h2 {
        color: #2A2B2E;
        -webkit-text-stroke: #000000 1px;
    }
    form {
        box-shadow: none;
        padding: 48px 0px;
        width: 80%;
    }
    .photo {
        width: 116px;
        height: 116px;
        border-radius: 8px;
        background-color: #EDEDED;
        position: absolute;
        border: 5px solid white;
        box-shadow: 0px 4px 4px 0px #00000026;
        bottom: 0px;
        transform: translate(0px, 50% );
    }
    .seccion-baja {
        width: 100%;
        gap: 0px;
        justify-content: space-between;
    }
    .photo > img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
}

.loader {
    /* display: none!important; */
    width: 100%;
    height: 100vh;
    background-color: #00000080;
    position: absolute;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999999999999999999;
}
.loader > img {
    width: 30%;
}